$primary__white: #fff;
$main__color: #39265f;
$background__color:#e6dace;
$card__color:#f4ece6;
$linkedin:#0077b5;
$github:#211F1F;
$mail:#EA4335;
$orange:#ffa600c7;
$heart__color:#a83f39;


// Buttons
.myBtn{
 text-decoration: none;
 padding: 0.5rem 1.5rem;
 border-radius: 30px;
 color: $primary__white;
 transition: all 0.5s ease;
}

 .resumeClass {
  background-color: $orange;
  border: 2px solid $orange;

  &:hover{
   color: $orange;
   background-color: $primary__white;
   border: 2px solid $orange;
  }
 }

 .skillsClass{
  margin-left: 1rem;
  color: $orange;
  background-color: $primary__white;
  border: 2px solid $orange;

  &:hover{
    color: $primary__white;
    background-color: $orange;
  }
 }

//  Social Icons
.social__icons {
  width: 100%;
  background-color: $primary__white;

  .linkedin {
    color: $linkedin;
  }

  .github {
    color: $github;
  }

  .mail {
    color: $mail;
  }
}

// h5 Style
 .resume__h5 {
   font-weight: bold;
   font-size: 1.5rem;
   letter-spacing: 2px;
   color: $main__color;
 }

//  animation
 .animateImg {
   animation: upDown 2s ease-in-out infinite alternate-reverse both;
 }

 @keyframes upDown {
   0% {
     transform: translateY(20px);
   }

   100% {
     transform: translateY(-20px);
   }
 }

//  media queries

@media(max-width:768px){
   .animateImg {
     animation: upDown 2s ease-in-out infinite alternate-reverse both;
     z-index: -1;
   }

   @keyframes upDown {
     0% {
       transform: translateY(10px);
     }

     100% {
       transform: translateY(-10px);
     }
   }
}
 



 

