.skills__container{
 background-color: $background__color;
 width: 100%;
 .container{
  .row{
   display: flex;
   justify-content: space-between;
   align-items: center;


   .skill__container__left{
    margin: 4rem 0;
    padding-bottom: 4rem;
   }
   .skill__container__right{
    margin:4rem 0;
    padding: 3rem 0;
    background-color: $primary__white;

    &__heading{
     .skill__h4{
      font-size: 2.5rem;
      text-align: center;
      padding-bottom: 0.5rem;
      font-weight: bold;
     }
     .skill__border{
       height: 4px;
       margin-left: 18rem;
       background-color: orange;
       width: 6rem;
       margin-bottom: 1.5rem;
       border-radius: 10px;
     }
    }

    &__skill{
     padding: 0.8rem 2rem;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;

     .skill__h6 {
      font-size: 1.2rem;
      margin-top: 0.3rem;
      margin-right: 1rem;
     }

     .skill__h5{
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-top: 0.3rem;
     }
    }
   }
  }
 }
}
// media queries
@media(max-width:768px){
  .skills__container{
    .container{
      .row{
        .skill__container__left{
          margin: 2rem 0;
          padding-bottom: 0;
        }
        .skill__container__right{

           &__heading {
             .skill__border {
               margin-left: 7rem;
             }
           }

         &__skill{

           .skill__h6{
             font-size: 1rem;
           }
           .skill__h5{
             font-size: 1rem;
           }
         }
        }
      }
    }
  }
}